In [1]:
import pandas as pd
import pymysql

In [2]:
df = pd.read_csv('TeamAPI.csv', encoding='cp949') 
df
#df.to_csv("pro1.csv")

,데이터 시간,시리얼번호,미세먼지(/),초미세먼지(/),이산화탄소(ppm),휘발성유기화합물(ppb),온도(C),습도(%),소음(dB),통합실내지수
0,2024-03-21 15:04,ICW0W2100481,10,4,1277,5282,21.9,32,72,68
1,2024-03-21 15:04,ICW0W2100582,28,10,694,119,23.1,20,71,94
2,2024-03-21 15:04,ICW0W2100579,9,3,0,446,25.3,13,61,87
3,2024-03-21 15:05,ICW0W2100562,27,14,581,4762,24.6,15,68,62
4,2024-03-21 15:04,ICW0W2100560,13,4,582,6000,23.9,17,59,65
...,...,...,...,...,...,...,...,...,...,...
2482,2024-04-02 10:59,ICW0W2100488,39,14,419,52,23.6,15,75,92
2483,2024-04-02 10:59,ICW0W2100506,0,0,33,12,21.5,18,62,100
2484,2024-03-29 10:41,ICW0W2100582,89,21,682,148,21.2,33,80,86
2485,2024-04-02 10:59,ICW0W2100579,23,9,0,161,25.3,15,57,92
2486,2024-04-02 11:01,ICW0W2100562,29,15,708,1248,24.5,18,62,69

In [100]:
###########################################################
# 데이터 (행 , 열) 갯수 확인하기
# df.shape

# df.info()
# df.replace('데이터')
#df = df[~df['데이터 시간'].str.contains('데이터 시간')]

#df.to_csv("test4.csv")

#문자가 들어간 행번호(index)를 저장하기 위한 리스트
idxList = []

#enumerate : 반복문에 index 생성 - 인덱스를 구하기 위해 사용.
for idx, each in enumerate(df['미세먼지(/)']):
    #print(idx, each)
    # isdigit : 해당 데이터를 숫자로 변환가능한지 여부 판단(true , false)
    # 숫자로 변환하지 못하는 데이터를 뽑아 행 번호를 저장하기 위한 리스트에 담아줌.
    if not each.isdigit():
        idxList.append(idx)
   
idxList

#문자가 들어간 행 삭제
df.drop(index=idxList, inplace=True)

df

[72,
 145,
 218,
 291,
 364,
 437,
 510,
 583,
 656,
 729,
 802,
 875,
 948,
 1021,
 1094,
 1167,
 1240,
 1313,
 1386,
 1459,
 1532,
 1605,
 1678,
 1751,
 1824,
 1897,
 1970,
 2043,
 2117,
 2191,
 2265,
 2339,
 2413]

In [36]:
######실행 XXXX

#문자가 들어간 행 삭제
# df.drop(index=idxList, inplace=True)

#####################################################
# 중복된 데이터 삭제
#df2 = df.drop_duplicates()

# 중복된 데이터저장 후 확인해보기
#df2.to_csv("test1.csv")
df

                데이터 시간         시리얼번호  온도(C)  습도(%)
0     2024-03-21 15:04  ICW0W2100481   21.9     32
1     2024-03-21 15:04  ICW0W2100582   23.1     20
2     2024-03-21 15:04  ICW0W2100579   25.3     13
3     2024-03-21 15:05  ICW0W2100562   24.6     15
4     2024-03-21 15:04  ICW0W2100560   23.9     17
...                ...           ...    ...    ...
2449  2024-04-02 10:59  ICW0W2100488   23.6     15
2450  2024-04-02 10:59  ICW0W2100506   21.5     18
2451  2024-03-29 10:41  ICW0W2100582   21.2     33
2452  2024-04-02 10:59  ICW0W2100579   25.3     15
2453  2024-04-02 11:01  ICW0W2100562   24.5     18

[2454 rows x 4 columns]

In [33]:
import pymysql

In [34]:
conn = pymysql.connect(host='localhost', user='studyroom', passwd='studyroom' ,db='studyroom', charset='utf8')
cursor = conn.cursor(pymysql.cursors.DictCursor)

In [6]:
#df = df.iloc[0: ,[0,1,6,7]]


#df.columns=[['데이터 시간','SERIAL_NO','TEMPERATURE', 'HUMIDITY']]
df=df[['데이터 시간','시리얼번호','온도(C)', '습도(%)']]

#df

In [121]:

#df.index = range(len(df))

In [7]:
df

                데이터 시간         시리얼번호 온도(C) 습도(%)
0     2024-03-21 15:04  ICW0W2100481  21.9    32
1     2024-03-21 15:04  ICW0W2100582  23.1    20
2     2024-03-21 15:04  ICW0W2100579  25.3    13
3     2024-03-21 15:05  ICW0W2100562  24.6    15
4     2024-03-21 15:04  ICW0W2100560  23.9    17
...                ...           ...   ...   ...
2482  2024-04-02 10:59  ICW0W2100488  23.6    15
2483  2024-04-02 10:59  ICW0W2100506  21.5    18
2484  2024-03-29 10:41  ICW0W2100582  21.2    33
2485  2024-04-02 10:59  ICW0W2100579  25.3    15
2486  2024-04-02 11:01  ICW0W2100562  24.5    18

[2454 rows x 4 columns]

In [8]:
df['온도(C)'] = pd.to_numeric(df['온도(C)'])
df['습도(%)'] = pd.to_numeric(df['습도(%)'])
#df['HUMIDITY'].series()
#pd.to_numeric(df['TEMPERATURE'])


#pd.to_numeric(df.TEMPERATURE.values.tolist())
#df.TEMPERATURE.values
#df['TEMPERATURE'][0]

#for each in df['TEMPERATURE']:
#    print(each)

C:\Users\GRS\AppData\Local\Temp\ipykernel_9144\433354845.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['온도(C)'] = pd.to_numeric(df['온도(C)'])
C:\Users\GRS\AppData\Local\Temp\ipykernel_9144\433354845.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['습도(%)'] = pd.to_numeric(df['습도(%)'])

In [23]:
# DATE_TIME = df['데이터 시간']
# TEMPERATURE = df['온도(C)']
# SERIAL_NO = df['시리얼번호']
# HUMIDITY = df['습도(%)']

TEMPERATURE[]
# SERIAL_NO
# HUMIDITY
# DATE_TIME

21.9

In [26]:
len(df)
df.index = range(len(df))
# df.to_excel('1111.xlsx', index=False)

In [30]:
# df['온도(C)'][73]

23.1

In [35]:
for i in range(len(df)):
    sql=f"INSERT INTO TEMANDHUM (DATE_TIME, SERIAL_NO, TEMPERATURE, HUMIDITY) VALUES ('{df['데이터 시간'][i]}', '{df['시리얼번호'][i]}', {df['온도(C)'][i]}, {df['습도(%)'][i]})"
    cursor.execute(sql)

conn.commit()

In [32]:
conn.close()

In [ ]:
#pip install flask 파이썬 웹
#pip install APScheduler 스케줄링
#pip install flask_apscheduler
# 프로그램 종료 : Ctrl + c

from flask import Flask
from flask_apscheduler import APScheduler

import requests
import xmltodict
import json
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import bs4

class Config:
    SCHEDULER_API_ENABLED = True

app = Flask(__name__)
app.config.from_object(Config())

scheduler = APScheduler()
scheduler.init_app(app)
scheduler.start()

@app.route("/")
def hello():
    return "Hello World!"

#seconds=60*3 반복되는 시간(초)
#hours=2 2시간 마다
@scheduler.task('interval', id='scheduler_1', hours=1, misfire_grace_time=None)
def scheduler_1():
    get_API_Data()

#####################################################################
def get_API_Data():
    print('get_API_Data() 실행 중')    
    #API 데이터 불러오기
    url = 'http://apis.data.go.kr/3210000/SeochoIaqSvc/getSeochoIaqRtData'
    params ={'serviceKey' : 'p9FZA94eZhl6jAWkF6ip6U+rwBfUIb04JLuw/nvI6vK4DQgImm0nvtI1QDsJPyJwLv54TedGckoIMDYuKLHYVQ=='
            , 'numOfRows' : '90'
            , 'pageNo' : '1' }

    response = requests.get(url, params=params)

    dict_res=xmltodict.parse(response.content)
    json_string=json.dumps(dict_res['response']['body']['items'],ensure_ascii=False)

    jsonObj=json.loads(json_string)
    df=pd.DataFrame(jsonObj['item'])
    df.columns=['데이터 시간','시리얼번호','미세먼지(/)','초미세먼지(/)','이산화탄소(ppm)','휘발성유기화합물(ppb)','온도(C)','습도(%)','소음(dB)','통합실내지수']

    print(df)

    df.to_csv('TeamAPI.csv', index=False, mode='a', encoding='utf-8-sig', header=False)
    #df.to_csv('TeamAPI_test2.csv', index=False, mode='w', encoding='utf-8-sig')

    print('get_API_Data() 끝')

#####################################################################

if __name__ == '__main__':
    count = 1
    app.run(port=80)